<div>
    <a href="/milo" class="mr-5">Home</a>
    <a href="/milo/saved" class="mr-5">Saved</a>
    <a href="/milo/addPost" class="mr-5">Add Post</a>
    <a href="/milo/messages" class="mr-5">Messages</a>
    <a href="/milo/games" class="mr-5">Games</a>
</div>
<div>
    <a href="/user/log-out" class="">Log out</a>
</div>